<div class="topbar-utility">
  <div class="container utility-inner">
    <a href="https://mu.ac.in" target="_blank" rel="noopener noreferrer">University of Mumbai</a>
    <span>Email: Details to be updated by the institute.</span>
    <span>Phone: Details to be updated by the institute.</span>
    <a href="/admissions/">Admissions</a>
    <span class="social-placeholders">Social: Details to be updated</span>
  </div>
</div>
